#content1 {
    width: 1360px;
    height: 500px;
    border:1px solid red;
    position: relative;
    margin: 40px auto;
}
#content1 .app-home {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 60px;
}
#content1 .app-home .home-main-title {
    width: 1020px;
    font-size: 62px;
    font-family: "Gilroy-Medium", "PingFangSC-Medium", "Microsoft Yahei", "Myriad Pro", "Hiragino Sans GB", sans-serif;
    color: #ff7422;
    line-height: 68px;
}
#content1 .app-home .home-sub-title {
    margin-top: 28px;
    width: 786px;
    font-size: 20px;
    font-weight: 300;
    color: #3F3F3F;
    line-height: 26px;
}