/*headcss*/
*{
	padding: 0;
	margin:0;
}
#top{
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:120px;
}
#header{
position:relative;
    max-width: 1600px;
    min-width: 1200px;
    height: 120px;
    margin: 0 auto;
    z-index: 99;
}
#header .header-logo{
	position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 60px;
}
#header .header-logo .logo-img{
	width: 140px;
}
img{
vertical-align: middle;
    border: 0;	
}
#header .header-tag{
position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 42px;
    right: 60px;
}
#header .header-tag a{
	text-decoration: none;
}
#header .header-tag li{
	list-style: none;
}
#header .header-tag .header-tap-ul .header-tap-ul-li{
float: left;
    width: 150px;
    border: 1px solid #e8e8e8;
    border-right: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.04);
    box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.04);
}
#header .header-tag .header-tap-ul .header-tap-ul-li .head-tap-mark{
    position: absolute;
    top: 40px;
    width: 146px;
    height: 12px;
    opacity: 0;
}
#header .header-tag .header-tap-ul .header-tap-ul-li .head-tap-list{
    display: none;
    position: absolute;
    top: 52px;
    width: 144px;
    background-color: #ffffff;
    /*-webkit-box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.04);*/
    box-shadow: 0 8px 28px 0 rgba(0, 0, 0, 0.04);
    border: 1px solid #e8e8e8;}
#header .header-tag .header-tap-ul .header-tap-ul-li .header-tap-ul-a{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    font-family: "Gilroy-Medium", "PingFangSC-Medium", "Microsoft Yahei", "Myriad Pro", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #9a9a9a;
    line-height: 40px;
}
#header .header-tag .header-tap-ul .header-tap-ul-li .head-tap-list .header-tap-item{
    display: block;
    height: 48px;
    font-family: "Gilroy-Medium", "PingFangSC-Medium", "Microsoft Yahei", "Myriad Pro", "Hiragino Sans GB", sans-serif;
    font-size: 14px;
    line-height: 48px;
    color: #9a9a9a;
    text-align: center;
}
#header .header-tag .header-tap-ul .header-tap-ul-li:hover .head-tap-list{
    display: block;
  
}
#header .header-tag .header-tap-ul .active{
	background:black; 
	color:white;
}







